<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:81/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>palletmanager.pil.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyAppTools.MyAppToolsDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=TEST-HP;Initial Catalog=PalletManagementDB;Persist Security Info=True;User ID=sa;Password=password@123;Application Name=EntityFramework" Name="Data Source=TEST-HP;Initial Catalog=PalletManagementDB;Persist Security Info=True;User ID=sa;Password=password@123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyAppTools.MyAppToolsDBContext, MyAppTools" MigrationConfiguration="MyAppTools.Migrations.Configuration, MyAppTools" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=TEST-HP;Initial Catalog=PalletManagementDB;Persist Security Info=True;User ID=sa;Password=password@123;Application Name=EntityFramework" Name="Data Source=TEST-HP;Initial Catalog=PalletManagementDB;Persist Security Info=True;User ID=sa;Password=password@123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PalletManagement.Core.appDbContext, PalletManagement.Core" MigrationConfiguration="PalletManagement.Core.Migrations.Configuration, PalletManagement.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=TEST-HP;Initial Catalog=PalletManagementDB;Persist Security Info=True;User ID=sa;Password=password@123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyAppTools.MyAppToolsDBContext-Web.config Connection String">
      <ParameterValue>Data Source=TEST-HP;Initial Catalog=PalletManagementDB;Persist Security Info=True;User ID=sa;Password=password@123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MyAppTools.MyAppToolsDBContext" />
  </ItemGroup>
</Project>